{% extends "base.html" %} {% load static %} {% block content %}

    <!-- start banner_section -->
    <div class="banner_section d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-12">
                    <div class="content">
                        <h3 class="header">
                            ATN Shop - Dao Tan Hai - Assignment 2 Cloud computing
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end banner_section -->
    <!-- start product_section -->
    <div class="product_section" style="
    padding-top: 0;
    padding-bottom: 0;
">

        <div class="container">
            <div class="button-1 text-align-right">
                <a href="/view" style="
                margin-top: 0;
                ">Searching order bills</a>
            </div>
            <div class="row">
                <div class="col-lg-7 col-md-10 col-sm-12 mx-auto">
                    <div class="contentTop">
                        <h2 class="title text-align-center">
                            Toys
                        </h2>
                        <div class="custom d-flex justify-content-center">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="content">
                        <div class="pic_img">
                            <img src="https://target.scene7.com/is/image/Target/GUEST_83d31a57-c225-4322-9105-05cdabd24ab4?wid=488&hei=488&fmt=pjpeg"
                                 alt="">
                            <div class="overlay d-flex align-items-center justify-content-center">
                                <div class="button text-align-center">
                                    <a href="/booking">Click here to order!</a>
                                </div>
                            </div>
                        </div>
                        <div class="contentBottom">
                            <div class="rate d-flex align-items-center justify-content-space-between">
                                <div class="price d-flex align-items-center">
                                    <p class="pervious">10$</p>
                                    <p class="now">7$</p>
                                </div>
                                <div class="icon d-flex align-items-center">
                                    <a href="#" class="full"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i></a>
                                </div>
                            </div>
                            <h3 class="title">Little Tikes Baby</h3>
                            <div class="type">
                                <p class="describe">Type: <span>Baby toy</span></p>
                                <p class="describe">Product ID: <span>111</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="content">
                        <div class="pic_img">
                            <img src="https://p7014794.vo.llnwd.net/e1/media/catalog/product/cache/8a7c6b25d9e0c0695377faf36eecef90/p/l/plan-toys-farm-animals-set_1.jpg"
                                 alt="">
                            <div class="overlay d-flex align-items-center justify-content-center">
                                <div class="button text-align-center">
                                    <a href="/booking">Click here to order!</a>
                                </div>
                            </div>
                        </div>
                        <div class="contentBottom">
                            <div class="rate d-flex align-items-center justify-content-space-between">
                                <div class="price d-flex align-items-center">
                                    <p class="pervious">15$</p>
                                    <p class="now">10$</p>
                                </div>
                                <div class="icon d-flex align-items-center">
                                    <a href="#" class="full"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i></a>
                                </div>
                            </div>
                            <h3 class="title">Farm Toys</h3>
                            <div class="type">
                                <p class="describe">Type: <span>Little toys</span></p>
                                <p class="describe">Product ID: <span>111</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="content">
                        <div class="pic_img">
                            <img src="https://p7014794.vo.llnwd.net/e1/media/catalog/product/cache/8a7c6b25d9e0c0695377faf36eecef90/p/l/plan-toys-farm-animals-set_1.jpg"
                                 alt="">
                            <div class="overlay d-flex align-items-center justify-content-center">
                                <div class="button text-align-center">
                                    <a href="/booking">Click here to order!</a>
                                </div>
                            </div>
                        </div>
                        <div class="contentBottom">
                            <div class="rate d-flex align-items-center justify-content-space-between">
                                <div class="price d-flex align-items-center">
                                    <p class="pervious">15$</p>
                                    <p class="now">10$</p>
                                </div>
                                <div class="icon d-flex align-items-center">
                                    <a href="#" class="full"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i></a>
                                </div>
                            </div>
                            <h3 class="title">Farm Toys</h3>
                            <div class="type">
                                <p class="describe">Type: <span>Little toys</span></p>
                                <p class="describe">Product ID: <span>111</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="content">
                        <div class="pic_img">
                            <img src="https://scontent-hkg4-2.xx.fbcdn.net/v/t1.0-9/152709443_860993567801907_8922725307911042084_o.jpg?_nc_cat=110&ccb=3&_nc_sid=8bfeb9&_nc_ohc=hjKovZY3cvgAX_GXZjU&_nc_ht=scontent-hkg4-2.xx&oh=038747795c30d4cd48fc92dfe0108b3a&oe=605C87C8"
                                 alt="">
                            <div class="overlay d-flex align-items-center justify-content-center">
                                <div class="button text-align-center">
                                    <a href="/booking">Click here to order!</a>
                                </div>
                            </div>
                        </div>
                        <div class="contentBottom">
                            <div class="rate d-flex align-items-center justify-content-space-between">
                                <div class="price d-flex align-items-center">
                                    <p class="pervious">10$</p>
                                    <p class="now">7$</p>
                                </div>
                                <div class="icon d-flex align-items-center">
                                    <a href="#" class="full"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i></a>
                                </div>
                            </div>
                            <h3 class="title">Little Tikes Baby</h3>
                            <div class="type">
                                <p class="describe">Type: <span>Baby toy</span></p>
                                <p class="describe">Product ID: <span>111</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="content">
                        <div class="pic_img">
                            <img src="https://scontent.fdad3-3.fna.fbcdn.net/v/t1.0-9/146473287_853043398596924_7598392267980282946_o.jpg?_nc_cat=100&ccb=3&_nc_sid=8bfeb9&_nc_ohc=aRT4Wo2HYngAX9NhDdo&_nc_ht=scontent.fdad3-3.fna&oh=3f885eb19a9967e6e24095e7cc47b360&oe=605CB675"
                                 alt="">
                            <div class="overlay d-flex align-items-center justify-content-center">
                                <div class="button text-align-center">
                                    <a href="/booking">Click here to order!</a>
                                </div>
                            </div>
                        </div>
                        <div class="contentBottom">
                            <div class="rate d-flex align-items-center justify-content-space-between">
                                <div class="price d-flex align-items-center">
                                    <p class="pervious">10$</p>
                                    <p class="now">7$</p>
                                </div>
                                <div class="icon d-flex align-items-center">
                                    <a href="#" class="full"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i></a>
                                </div>
                            </div>
                            <h3 class="title">Little Tikes Baby</h3>
                            <div class="type">
                                <p class="describe">Type: <span>Baby toy</span></p>
                                <p class="describe">Product ID: <span>111</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="content">
                        <div class="pic_img">
                            <img src="https://scontent-hkg4-2.xx.fbcdn.net/v/t1.0-9/137241559_835160120385252_4926048467239697457_o.jpg?_nc_cat=109&ccb=3&_nc_sid=8bfeb9&_nc_ohc=Wtpas85oNVgAX92prXo&_nc_ht=scontent-hkg4-2.xx&oh=69e4557136cb125404ebd91b107a061d&oe=6060124F"
                                 alt="">
                            <div class="overlay d-flex align-items-center justify-content-center">
                                <div class="button text-align-center">
                                    <a href="/booking">Click here to order!</a>
                                </div>
                            </div>
                        </div>
                        <div class="contentBottom">
                            <div class="rate d-flex align-items-center justify-content-space-between">
                                <div class="price d-flex align-items-center">
                                    <p class="pervious">10$</p>
                                    <p class="now">7$</p>
                                </div>
                                <div class="icon d-flex align-items-center">
                                    <a href="#" class="full"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i></a>
                                </div>
                            </div>
                            <h3 class="title">Little Tikes Baby</h3>
                            <div class="type">
                                <p class="describe">Type: <span>Baby toy</span></p>
                                <p class="describe">Product ID: <span>111</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="content">
                        <div class="pic_img">
                            <img src="https://scontent-hkg4-2.xx.fbcdn.net/v/t1.0-9/133552672_830656307502300_7404697077837531456_o.jpg?_nc_cat=104&ccb=3&_nc_sid=8bfeb9&_nc_ohc=wfNrNZPYKZgAX8Ni-Z8&_nc_ht=scontent-hkg4-2.xx&oh=99788090a4a3d3377206cff50e92dd91&oe=605D5728"
                                 alt="">
                            <div class="overlay d-flex align-items-center justify-content-center">
                                <div class="button text-align-center">
                                    <a href="/booking">Click here to order!</a>
                                </div>
                            </div>
                        </div>
                        <div class="contentBottom">
                            <div class="rate d-flex align-items-center justify-content-space-between">
                                <div class="price d-flex align-items-center">
                                    <p class="pervious">10$</p>
                                    <p class="now">7$</p>
                                </div>
                                <div class="icon d-flex align-items-center">
                                    <a href="#" class="full"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i></a>
                                </div>
                            </div>
                            <h3 class="title">Little Tikes Baby</h3>
                            <div class="type">
                                <p class="describe">Type: <span>Baby toy</span></p>
                                <p class="describe">Product ID: <span>111</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="content">
                        <div class="pic_img">
                            <img src="https://scontent-hkg4-2.xx.fbcdn.net/v/t1.0-9/130246200_818782998689631_225010509562321117_o.jpg?_nc_cat=109&ccb=3&_nc_sid=8bfeb9&_nc_ohc=Lf43Fi-HgKUAX_uE18r&_nc_ht=scontent-hkg4-2.xx&oh=181fde78ddb25f3e5e24c85b64974376&oe=605CFD2A"
                                 alt="">
                            <div class="overlay d-flex align-items-center justify-content-center">
                                <div class="button text-align-center">
                                    <a href="/booking">Click here to order!</a>
                                </div>
                            </div>
                        </div>
                        <div class="contentBottom">
                            <div class="rate d-flex align-items-center justify-content-space-between">
                                <div class="price d-flex align-items-center">
                                    <p class="pervious">10$</p>
                                    <p class="now">7$</p>
                                </div>
                                <div class="icon d-flex align-items-center">
                                    <a href="#" class="full"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i></a>
                                </div>
                            </div>
                            <h3 class="title">Little Tikes Baby</h3>
                            <div class="type">
                                <p class="describe">Type: <span>Baby toy</span></p>
                                <p class="describe">Product ID: <span>111</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="content">
                        <div class="pic_img">
                            <img src="https://scontent-hkg4-2.xx.fbcdn.net/v/t1.0-9/121656157_775540533013878_7353234425722453959_o.jpg?_nc_cat=104&ccb=3&_nc_sid=8bfeb9&_nc_ohc=egTBtI3OEEYAX-E1gaJ&_nc_ht=scontent-hkg4-2.xx&oh=c2bc87ed5752587f2435110fa7a2d64f&oe=605EFB5B"
                                 alt="">
                            <div class="overlay d-flex align-items-center justify-content-center">
                                <div class="button text-align-center">
                                    <a href="/booking">Click here to order!</a>
                                </div>
                            </div>
                        </div>
                        <div class="contentBottom">
                            <div class="rate d-flex align-items-center justify-content-space-between">
                                <div class="price d-flex align-items-center">
                                    <p class="pervious">10$</p>
                                    <p class="now">7$</p>
                                </div>
                                <div class="icon d-flex align-items-center">
                                    <a href="#" class="full"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i></a>
                                </div>
                            </div>
                            <h3 class="title">Little Tikes Baby</h3>
                            <div class="type">
                                <p class="describe">Type: <span>Baby toy</span></p>
                                <p class="describe">Product ID: <span>111</span></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- end product_section -->
{% endblock content %}
