{% extends "base.html" %} {% load static %} {% block content %}

        <!-- start banner_section -->
        <div class="banner_section d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-md-12">
                        <div class="content">
                            <h3 class="header">
                                ATN Shop - Dao Tan Hai Assignment 2
                            </h3>
                            <div class="custom d-flex">
                                <span></span>
                            </div>
                            <h2 class="title">
                                ATN STORE
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end banner_section -->
        <!-- start product_section -->
        <div class="product_section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-10 col-sm-12 mx-auto">
                        <div class="contentTop">
                            <h2 class="title text-align-center">
                                Toys
                            </h2>
                            <div class="custom d-flex justify-content-center">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="content">
                            <div class="pic_img">
                                <img src="https://target.scene7.com/is/image/Target/GUEST_83d31a57-c225-4322-9105-05cdabd24ab4?wid=488&hei=488&fmt=pjpeg" alt="">
                                <div class="overlay d-flex align-items-center justify-content-center">
                                    <a href="#" class="icon"><i class="fas fa-shopping-bag"></i></a>
                                    <p>Buy now!</p>
                                </div>
                            </div>
                            <div class="contentBottom">
                                <div class="rate d-flex align-items-center justify-content-space-between">
                                    <div class="price d-flex align-items-center">
                                        <p class="pervious">10$</p>
                                        <p class="now">7$</p>
                                    </div>
                                    <div class="icon d-flex align-items-center">
                                        <a href="#" class="full"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></a>
                                    </div>
                                </div>
                                <h3 class="title">Little Tikes Baby</h3>
                                <div class="type">
                                    <p class="describe">Type: <span>Baby toy</span></p>
                                    <p class="describe">GOOD<span></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="content">
                            <div class="pic_img">
                                <img src="https://p7014794.vo.llnwd.net/e1/media/catalog/product/cache/8a7c6b25d9e0c0695377faf36eecef90/p/l/plan-toys-farm-animals-set_1.jpg" alt="">
                                <div class="overlay d-flex align-items-center justify-content-center">
                                    <a href="#" class="icon"><i class="fas fa-shopping-bag"></i></a>
                                    <p>Buy now!</p>
                                </div>
                            </div>
                            <div class="contentBottom">
                                <div class="rate d-flex align-items-center justify-content-space-between">
                                    <div class="price d-flex align-items-center">
                                        <p class="pervious">15$</p>
                                        <p class="now">10$</p>
                                    </div>
                                    <div class="icon d-flex align-items-center">
                                        <a href="#" class="full"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></a>
                                    </div>
                                </div>
                                <h3 class="title"></h3>
                                <div class="type">
                                    <p class="describe">Type: <span>Farm toys</span></p>
                                    <p class="describe">GOOD<span></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="content">
                            <div class="pic_img">
                                <img src="https://ielts-thanhloan.com/wp-content/uploads/2020/11/toys.jpg" alt="">
                               	
                            </div>
                            <div class="contentBottom">
                                <div class="rate d-flex align-items-center justify-content-space-between">
                                    <div class="price d-flex align-items-center">
                                        <p class="pervious">50$</p>
                                        <p class="now">40$</p>
                                    </div>
                                    <div class="icon d-flex align-items-center">
                                        <a href="#" class="full"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></a>
                                    </div>
                                </div>
                                <h3 class="title">Teddy toy</h3>
                                <div class="type">
                                    <p class="describe">Type: <span>Teddy</span></p>
                                    <p class="describe">GOOD</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="button text-align-center">
                    <a href="/booking">Click here to order!</a>
                </div>
                <div class="button-1 text-align-center">
                    <a href="/view">Searching order bills</a>
                </div>
            </div>
        </div>
        <!-- end product_section -->
{% endblock content %}
