{% extends "base.html" %} {% block content %}

    <!--Section: Contact v.2-->
    <section class="mb-4">
        <h2 class="h1-responsive font-weight-bold text-center my-4">Bill information</h2>x
        {% for item in object_list %}
            <!--Section heading-->
            <!--Section description-->
            <!-- Table test -->
            <table class="blueTable">
                <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Product name</th>
                    <th>Price</th>
                    <th>Customer Name</th>
                    <th>Phone</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                </tr>
                </tfoot>
                <tbody>
                <tr>
                    <td><b>{{ item.ptIdCard }}</b></td>
                    <td><b>{{ item.ptName }}</b></td>
                    <td><b>{{ item.ptPrice }}</b></td>
                    <td><b>{{ item.Name }}</b></td>
                    <td><b>{{ item.ptPhone }}</b></td>
                </tr>
                </tbody>
            </table>
            <!-- END -->

            <!--Grid column-->
        {% endfor %}
        <div class="text-center">
            <h2>ATN Store</h2>
            <ul class="list-unstyled mb-0">
                <li>
                    <p>+84334463258</p>
                </li>
                <li>
                    <p>atnstore.hcm@gmail.com</p>
                </li>
            </ul>
        </div>
        <div class="text-center">
            <a class="btn btn-primary" href="/">Go back to home page</a>
        </div>
        <div class="status"></div>
    </section>
{% endblock content %}
